body{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.header{
    width:100%;
    height: 141px;
    background:url(../img/fundo_header.png);
}

.header #header_margin{
    margin: 0 auto;
    width: 980px;
    height: 140px;
}

.header #header_margin #logo{
    padding: 20px;
    margin-left: -5px;
}

.corpo{
    width: 100%;
    height: 548px;
    background:url(../img/fundo_corpo.png);
}

.corpo #corpo_margin{
    margin: 0 auto;
    width: 980px;
    height: 548px;
}

.corpo #corpo_margin #area_login{
    padding: 230px;
    margin-left: 120px;
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    color:#666666;
}

.caixa{
	background:#CCCCCC;
	border:1px solid #CCCCCC;
	height:22px;
	width:200px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#666666;	
}

.btn_entrar{
    margin-left: 178px;
    margin-top: 10px;
}

.footer{
    width: 100%;
    height: 140px;
    background:url(../img/fundo_footer.png);
}

.footer #footer_margin{
    margin: 0 auto;
    width: 980px;
    height: 140px;
}

.footer #footer_margin #logo_krush{
    padding: 40px;
    margin-left: 750px;
}